.one-above-all{
    background-color: #dae0e6;
    flex-grow: 1;
}

.reddit-container{
    background-color: #dae0e6;
    margin-top: 35px;
    padding: 5px;
}


/* BIG BOX under posts  (should have named it news)*/
.reddit-main-big-box{
    
    background-color: #dae0e6; 

    
}
@media  (min-width: 960px){
.reddit-main-big-box {
    padding: 20px 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1248px;
}
.reddit-main-big-box-right{
    width: 620px;}
}
@media  (min-width: 640px){
    .reddit-main-big-box-right {
        width: 600px;
        margin: 0 auto;
    }
    .reddit-main-big-box-left{
        display: none;
    }}
@media  (max-width: 640px){
    .reddit-main-big-box-right {
        max-width: 100%}};

.reddit-header {
    flex: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: inline-flex;
    z-index: 80;
    margin-top: 0;
}