.reddit-main-big-box-righ-header{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-transform: unset;
    padding-bottom: 10px;
}
.reddit-right-head-bar{
    position: relative;
    align-items: center;
    background-color: white;
    border: 1px solid #a6a7a8;;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 56px;
    justify-content: flex-start;
    margin-bottom: 16px;
    padding: 0 12px;
}
.reddit-right-head-bar-flex{
    display: flex;
    align-items: center;
}

@media (min-width: 1010px){
    .reddit-right-head-bar-flex-hot{
    display: inline-flex;
    border-radius: 20px;
    height: 32px;
    align-items: center;
    margin-right: 8px;
    padding: 0 8px;
    color:#0079d3;
    background-color: #f6f7f8;
    cursor: pointer;
}
.reddit-right-head-bar-flex-hot-mini{
    display: none;
 }}
@media (min-width: 650px){
    .reddit-right-head-bar-flex-hot {
        display: inline-flex;
        border-radius: 20px;
        height: 32px;
        align-items: center;
        margin-right: 8px;
        padding: 0 8px;
        color:#0079d3;
        background-color: #f6f7f8;
        cursor: pointer;
}.reddit-right-head-bar-flex-hot-mini{
    display: none;
 }
}
@media (max-width: 650px){
.reddit-right-head-bar-flex-hot {
    display: none;}
 .reddit-right-head-bar-flex-hot-mini{
        display: inline-flex;
        border-radius: 20px;
        height: 32px;
        align-items: center;
        margin-right: 8px;
        padding: 0 8px;
        color:#0079d3;
        background-color: #f6f7f8;
        cursor: pointer;
 }}



.reddit-right-head-bar-flex-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 4px;
    text-transform: capitalize;
}
.reddit-right-head-bar-region{
    border-radius: 20px;
    height: 32px;
    margin-right: 8px;
    padding: 0 8px;
    background-color: #f6f7f8;
    align-items: center;
}
.reddit-right-head-bar-region-box{
    align-items: center;
    border-radius: 4px;
}
.reddit-right-bar-region-box-button{
    display: inline-flex;
    height: 32px;
    align-items: center;
    color: #0079d3;
    background-color: #f6f7f8;
    border: none;

}
.reddit-right-bar-region-box-button-text{
    display: inline-block;
}
.reddit-right-head-bar-new,
.reddit-right-head-bar-top,
.reddit-right-head-bar-dots,
.reddit-right-head-bar-viewmode
{
    display: inline-flex;
    border-radius: 20px;
    height: 32px;
    align-items: center;
    margin-right: 8px;
    padding: 0 8px;
    color:#8f9294;
}
.reddit-right-head-bar-new:hover,
.reddit-right-head-bar-top:hover
{
    background-color: #f6f7f8;
    color:black;
    cursor: pointer;
}
.reddit-right-head-bar-dots:hover,
.reddit-right-head-bar-viewmode:hover{
    background-color: #f6f7f8;
    cursor: pointer;


}
.reddit-right-head-bar-new-icon,
.reddit-right-head-bar-top-icon,
.reddit-right-head-bar-dots-icon,
.reddit-right-head-bar-viewmode-icon
{
    font-size: 22px;
    margin-bottom: 4px;
}
.reddit-right-head-bar-viewmode-icon{
    color: #0079d3;
}

.reddit-right-head-bar-new-text,
.reddit-right-head-bar-top-text,
.reddit-right-head-bar-dots-text
{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 4px;
    text-transform: capitalize;
}
.reddit-right-head-bar-viewmode{
    margin-left: auto;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.reddit-right-head-bar-flex-arrow-mini{
    color: #0079d3;
}

@media (max-width:650px){
    .reddit-right-head-bar-new,
    .reddit-right-head-bar-top,
    .reddit-right-head-bar-dots{
        display: none;
    }
}
@media (min-width:1000px){
    .reddit-right-head-bar-viewmode{
        position: absolute;
        right: 0;
    }}